.header__logo {
    background-image: url(../../../images/header-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 172px;
    margin: 0;
    margin-right: auto;
}

@media screen and (max-width: 320px) {
    .header__logo {
        min-width: 142px;
    }
}