.lead__title {
    max-width: 720px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 96px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
}

@media screen and (max-width: 768px) {
    .lead__title{
        width: 100%;
        font-size: calc(100vw / 8);
        line-height: 110%;
    }
}