.lead__image {
    width: calc(100vw - 10px);
    height: 615px;
    object-fit: contain;
    display: block;
    background-image: url(../../../images/lead-polka.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(50% + 5px);
    margin: 64px auto 8px;
    margin-left: calc((50% - 50vw));
}

@media screen and (max-width:1280px) {
    .lead__image {
        height: calc(615px - (1280px - 100vw)/7.3);
        margin-top: 56px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        height: calc(580px - (1024px - 100vw)/2.56);
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        height: calc(480px - (768px - 100vw)/1.6);
        margin-top: 40px;
    }
}

/*margin-left: calc((50% - 50vw));